<%= form_for(@post) do |f| %>
  <%= render 'layouts/error_messages' %>
    <div class="newTitle">
      <%= f.label :title %><br />
      <%= f.text_field :title, class: 'border' %>
    </div>
  
    <div class="newContent">
      <%= f.label :entry %><br />
      <%= f.text_area :entry, class: 'border' %>
    </div>
  
    <p>
      <%= f.submit %>
    </p>

<% end %>